# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Test and coverage output
.pytest_cache/
.coverage
htmlcov/

# Local volumes
pg_data/
grafana_data/
